duckduckgo-search
fastapi
groq
packaging
phidata
sqlalchemy
uvicorn
yfinance
python-dotenv
pandas
numpy<2.0
matplotlib
seaborn
scikit-learn
scipy
joblib
threadpoolctl
tqdm
requests
tenacity
pydantic
duckdb
jsonschema
chromadb
sentence-transformers
pymongo
motor
